.popup-container .popup-wrapper {
  border-radius: 5px;
  background-color: white;
  width: 267px;
  position: relative;
  text-align: center;
  .popup-image-wrapper {
    padding: 60px;
    .popup-text-wrapper {
      margin-top: 30px;
      .popup-text {
        color: #505050;
        font-size: 22px;
        span {
          font-size: 35px;
        }
        .popup-text-highlight.delivery {
          color: #ff9184;
        }
        .popup-text-highlight.package {
          color: #07e049;
        }
        .popup-text-highlight.order {
          color: #55d0fd;
        }
      }
    }
    img {
      width: 50px;
    }
  }
  .popup-btn-wrapper {
    display: flex;
    font-size: 18px;
    .popup-btn {
      padding: 15px;
      width: 40%;
      color: #fff;
      background-color: #505050;
      border-bottom-left-radius: 5px;
    }
    .popup-btn.right {
      width: 60%;
      background-color: #fe931f;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 5px;
    }
  }
}
