html,
body {
  font-size: $font-big;
}

.alert {
  color: $alert-color;
}

.mainMenu {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 30px;
  height: 20px;
  .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    &.l1 {
      top: 0;
    }
    &.l2 {
      top: 50%;
      transform: translateY(-1px);
    }
    &.l3 {
      bottom: 0;
    }
  }
}
.sidemenu {
  height: 100vh;
  width: 265px;
  background: #fff;
  position: fixed;
  top: 0;
  left: -265px;
  z-index: 9999;
  transition: all 0.3s linear;
  border-right: 1px solid #ddd;
}

.sidemenu.active {
  left: 0;
}

#sidemenu-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.tabmenu {
  & > ul {
    display: table;
    width: 100%;
    text-align: center;
    background: #fff;
    color: #505050;
    font-size: 1.2em;
    & > li {
      display: table-cell;
      line-height: 40px;
      @include fontValign;
      .count {
        font-size: 0.8em;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background: #505050;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
        text-align: center;
        margin: 0 3px;
        position: relative;
        top: -1px;
      }
      &.active {
        color: #fff;
        background: #fe931f;
      }
    }
  }
  &.item3 {
    & > ul > li {
      width: 33.3%;
    }
  }
}

.label {
  border-radius: 15px;
  text-align: center;
  width: 74px;
  height: 30px;
  padding: 5px 0;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  .title {
    vertical-align: middle;
    display: inline-block;
    @include fontValign;
  }
  &:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
  }
  &.delivery {
    background: #ff9184;
    &:before {
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><style>path {fill:#fff}</style><path d='M11.5,18.5c0,0.6-0.7,1.1-1.6,1.1l0,0c-0.9,0-1.6-0.5-1.6-1.1v-4.7c0-0.6,0.7-1.1,1.6-1.1l0,0c0.9,0,1.6,0.5,1.6,1.1V18.5z'/><path d='M15.7,2.6h-3.1c-0.4-1.1-1.5-1.9-2.7-1.9c-1.3,0-2.3,0.8-2.7,1.9H4.1C3.6,2.6,3.2,3,3.2,3.5c0,0.5,0.4,0.9,0.9,0.9h3.1c0.3,0.8,0.9,1.5,1.7,1.8c-2.5,0.5-4.4,2.7-4.4,5.3v4.2c0,0.6,0.5,1.1,1,1.1H7v-3.1c0-1.3,1.3-2.4,2.9-2.4c1.6,0,2.9,1,2.9,2.4v3.1h1.5c0.6,0,1-0.5,1-1.1v-4.2c0-2.6-1.9-4.8-4.4-5.3c0.8-0.3,1.4-1,1.7-1.8h3.1c0.5,0,0.9-0.4,0.9-0.9C16.6,3,16.2,2.6,15.7,2.6z M9.9,5.1C9,5.1,8.3,4.4,8.3,3.5S9,2,9.9,2c0.9,0,1.6,0.7,1.6,1.6S10.8,5.1,9.9,5.1z'/></svg>");
    }
  }
  &.order {
    background: #55d0fd;
    &:before {
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><style>path {fill:#fff}</style><path d='M14.7,15.5h-2.6v-3.3H8.4v3.3H5.8v-6c-0.5,0.4-1.1,0.6-1.7,0.6v6.1c0,0.6,0.5,1.1,1.1,1.1h10.2c0.6,0,1.1-0.5,1.1-1.1v-6.1c-0.7,0-1.3-0.3-1.7-0.6V15.5z'/><path  d='M8.1,9.3c0.8,0,1.5-0.4,1.9-1l0-5.7H7.2l-1,5.8C6.6,8.9,7.3,9.3,8.1,9.3z'/><path  d='M5.8,8.3l0.9-5.7H5.2c-0.6,0-1.4,0.5-1.7,1.1L2.1,6.5C2,6.8,1.8,7.1,1.8,7.5c0,1,0.9,1.8,2.1,1.8C4.7,9.3,5.4,8.9,5.8,8.3z'/><path  d='M18.4,6.5L17,3.7c-0.3-0.6-1.1-1.1-1.7-1.1h-1.5l1,5.7c0.3,0.6,1.1,1,1.9,1c1.2,0,2.1-0.8,2.1-1.8C18.7,7.1,18.5,6.8,18.4,6.5z'/><path  d='M12.4,9.3c0.8,0,1.5-0.4,1.9-1l-1-5.8h-2.8l0,5.8C10.9,8.9,11.5,9.3,12.4,9.3z'/></svg>");
    }
  }
  &.package {
    background: #07e049;
    &:before {
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><style>path {fill:#fff}</style><path d='M11.7,18.9h4c0.6,0,1-0.5,1-1.1V9.2h-5V18.9z'/><path d='M3.3,17.8c0,0.6,0.5,1.1,1,1.1h4V9.2h-5V17.8z'/><path d='M16.8,4.8h-5.1v3.1h5.1c0.6,0,1-0.5,1-1.1v-1C17.8,5.3,17.3,4.8,16.8,4.8L16.8,4.8z'/><path d='M2.2,5.8v1c0,0.6,0.5,1.1,1,1.1h5.1V4.8H3.2C2.7,4.8,2.2,5.3,2.2,5.8L2.2,5.8z'/><path d='M15.3,3.6c0.2-0.2,0.4-0.6,0.3-1.2c-0.2-0.8-1-1.3-2.1-1.3c-0.5,0-1,0.1-1.5,0.2c-0.3,0.1-0.6,0.2-0.9,0.4c-0.2-0.1-0.4-0.2-0.6-0.3c-0.1,0-0.3-0.1-0.4-0.1c-0.2,0-0.3,0-0.4,0.1C9.3,1.5,9.1,1.6,8.9,1.8C8.7,1.6,8.4,1.5,8,1.4C7.5,1.2,7,1.1,6.5,1.1c-1.2,0-2,0.5-2.1,1.3C4.3,3,4.5,3.4,4.7,3.6C5.1,4.2,6,4.4,7.4,4.4h5.1C14,4.4,14.9,4.2,15.3,3.6L15.3,3.6z M8.2,3.2H7.4C6,3.2,5.7,2.9,5.7,2.8c0,0,0-0.1,0-0.2c0-0.1,0.3-0.3,0.9-0.3c0.3,0,0.7,0.1,1.1,0.2c0.2,0.1,0.4,0.1,0.6,0.2C8.2,2.9,8.2,3,8.2,3.2L8.2,3.2z M11.8,2.8c0.2-0.1,0.4-0.2,0.6-0.2c0.4-0.1,0.8-0.2,1.1-0.2c0.6,0,0.9,0.2,0.9,0.3c0,0.1,0,0.2,0,0.2c0,0.1-0.4,0.3-1.8,0.3h-0.8C11.8,3,11.8,2.9,11.8,2.8L11.8,2.8z'/></svg>");
    }
  }
}

.label.progress.delivery {
  background-color: #ff9184 !important;
}
.label.progress.order {
  background-color: #55d0fd !important;
}
.label.progress.package {
  background-color: #07e049 !important;
}

.btn-close {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  &:before {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25'><style>path {fill:#fff}</style><path d='M13.8,12.4l9.9-9.9c0.3-0.3,0.3-0.8,0-1.2c-0.3-0.3-0.8-0.3-1.2,0l-9.9,9.9L2.7,1.3C2.4,1,1.8,1,1.5,1.3 c-0.3,0.3-0.3,0.8,0,1.2l9.9,9.9l-9.9,9.9c-0.3,0.3-0.3,0.8,0,1.2c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2l9.9-9.9l9.9,9.9 c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.4-0.1,0.6-0.2c0.3-0.3,0.3-0.8,0-1.2L13.8,12.4z'/></svg>");
    display: block;
    width: 25px;
    height: 25px;
  }
}

.btn-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  display: table;
  .btn {
    text-align: center;
    padding: 15px;
    font-size: 1.3em;
    display: table-cell;
    font-weight: 700;
    @include fontValign(17px);
    &.small {
      width: 33.3%;
      background: #505050;
    }
    &.big {
      width: 66.7%;
      background: #fe931f;
    }
    &.full {
      width: 100%;
    }
  }
}

.switch-wrapper {
  cursor: pointer;
  position: relative;
  padding: 5px;
  padding-right: 0;
  height: 30px;
  width: 47px;
  display: inline-block;
  .switch {
    border-radius: 12px;
    top: 8px;
    width: 40px;
    height: 20px;
    background: #fe931f;
    transition: 0.3s all ease-in-out;
    &.on::before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 8px;
      top: 11px;
      left: 16px;
      background: #fff;
    }
    &.on::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      right: 4px;
      top: 6px;
      width: 18px;
      height: 18px;
      background: #fff;
      box-shadow: 2px, 2px, 8px, 0, rgba(0, 0, 0, 1);
    }
    &.off {
      background: #ddd;
      &::before {
        content: '';
        position: absolute;
        border-radius: 6px;
        border: 1px solid #fff;
        top: 11px;
        right: 10px;
        width: 6px;
        height: 6px;
        background: #ddd;
      }
      &::after {
        content: '';
        position: absolute;
        border-radius: 10px;
        left: 6px;
        top: 6px;
        width: 18px;
        height: 18px;
        background: white;
        box-shadow: 2px, 2px, 8px, 0, rgba(0, 0, 0, 1);
      }
    }
  }
}
