@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup-pannel.error-shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

.popup-pannel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 280px;
  height: 340px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  .header {
    width: 100%;
    height: 80px;
    color: #505050;
    @include fontValign;
    border-bottom: 1px solid #d7d7d7;
    .title {
      font-size: 1.5em;
      text-align: center;
      line-height: 80px;
    }
  }
  .body {
    width: 100%;
    height: 210px;
    .list-items {
      .list-item {
        text-align: left;
        line-height: 46px;
        border-bottom: 1px solid #d7d7d7;
        position: relative;
        .icon {
          position: absolute;
          display: block;
          left: 50%;
          top: 0;
          bottom: 0;
          margin: auto;
          transform: translateX(-50px);
        }
        .title {
          display: block;
          position: relative;
          left: 50%;
          color: #101010;
          transform: translateX(-20px);
          @include fontValign;
        }
        &.active {
          background: #fe931f;
          .title {
            color: #fff;
          }
        }
      }
    }
  }
  .btn-wrapper {
    position: absolute;
  }
}

.popup-pannel.order-time {
  height: 316px;
  .header {
    height: 100px;
    .title {
      line-height: 68px;
    }
    .date {
      width: 100%;
      background: #f3f3f3;
      color: #ff0f0f;
      text-align: center;
      line-height: 29px;
      padding-top: 2px;
    }
  }
  .body {
    .list-items {
      overflow: hidden;
      border-left: 1px solid #d7d7d7;
      .list-item {
        float: left;
        width: 50%;
        border-right: 1px solid #d7d7d7;
        .title {
          transform: translate(12px);
          text-align: center;
          left: 0;
        }
        .icon {
          transform: translateX(-28px);
        }
      }
    }
  }
}

.popup-pannel.user-del {
  height: 270px;
  .header {
    .title {
      .alert {
        color: #fe931f;
      }
    }
  }
  .body {
    padding: 20px;
    .content-wrapper {
      background: #f3f3f3;
      padding: 20px;
      border-radius: 4px;
      line-height: 20px;
      text-align: center;
    }
  }
}
