@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import 'inc/_reset.scss';
@import 'inc/_variables.scss';
@import 'inc/_mixin.scss';
@import 'inc/_global.scss';
@import 'inc/_icons.scss';

@import 'order/_orderList.scss';
@import 'order/_orderDetail.scss';
@import 'order/_popup.scss';
@import 'order/_menu.scss';
@import 'order/_manage.scss';

@import 'ceo/ceo.scss';
@import 'loading/index.scss';
@import 'popup/index.scss';

$color-theme: #fe931f;

.login-greeting-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 30px 0;

  .login-logo {
    .logo-background {
      width: 120px;
      height: 120px;
      background-color: $color-theme;
      display: flex;
      padding: 20px;
      border-radius: 70px;

      img {
        flex: 1;
      }
    }
  }

  .login-text {
    margin-top: 16px;
    font-size: 30px;
    color: $color-theme;

    .text-bold {
      font-weight: bold;
    }
  }
}

input,
textarea {
  border-radius: 0;
}

textarea {
  resize: none;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type='checkbox'] {
  -webkit-appearance: checkbox;
}

.body {
  height: calc(100% - 96px);
  overflow: auto;
  // overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
